:root {
  --font-family: "Nunito", sans-serif;
  --primairy-color: honeydew;
}
body {
  font-family: var(--font-family);
  
  padding: 20px 30px 20px 30px;
}
.content-title-card {
  background-image: url("/images/maasai-print-pic.jpeg");
  color: var(--primairy-color);
  text-align: center;
  padding: 30px 30px 50px 30px;
  margin-top: 50px;
}

.content-title-card h3 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  opacity: 0.9;
}
.content-title-card h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
  opacity: 0.95;
}
.content-title-card h2 {
  font-weight: normal;
  font-size: 24px;
  opacity: 0.9;
}

.content-title-card a {
  color: var(--primairy-color);
  border-color: var(--primairy-color);
  font-size: 18px;
  padding: 15px;
  line-height: 27px;
}

p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}
.btn-branding-outline {
  color: blue;

  border-color: blue;

  font-size: 18px;
  padding: 15px;
  line-height: 27px;
}
.project-description {
  padding: 20px 20px;
}

.content-text {
  background-color: rgba(240, 255, 240, 0.8);
  padding: 20px 20px 40px 40px;
  color: black;
  text-align: left;
}

.headshot {
  margin: 60px 30px 60px 0px;
  padding: 50px;
}
.content-text h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
  opacity: 0.95;
}
.content-text h2 {
  font-size: 30px;
  line-height: 1.2;
}

.background-image{
     background-image: url("/images/maasai-print-pic.jpeg");
     color: var(--primairy-color);
  text-align: center; 
}

.link-title {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.link-title:hover {
  text-decoration: underline;
}

.project-pic {
  max-width: 60%;
  margin-top: 30px;
}
.project-pic img {
  margin: 40px 0px 20px 0px;
  border: solid 10px white;
}

footer {
  padding: 30px;
  max-width: 60%;
  background-color: rgba(238, 33, 22, 0.05);
  display: block;
    margin: 0 auto;
    margin-top: 80px;
}

footer h2 {
  font-size: 30px;
}

footer a{
    color: blue;
    
}
.social-icon a{
    color: rgba(238, 33, 22);
    font-size: 18px;

}

@media (max-width: 990px) {
 
  .project-description {
    padding: 5px 30px;
    text-align: center;
  }
  .content-title-card {
    padding: 40px 0px;
  }
  .content-title-card h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 420px) {
  
  
  .content-text {
    text-align: center;
    padding: 0px 10px 10px 10px !important;
    margin-top: none !important;
  }
  .content-text h1 {
    font-size: 40px !important;
  }
  .content-text h2 {
    font-size: 20px !important;
  }
  .content-text p {
    font-size: 14px !important;
  }
  .project-pic {
  max-width: 90%;
}

  footer {
    max-width: 90% !important;
  }
  .link-title{
    font-size: 20px !important;
  }
}