:root {
  --font-family: "Nunito", sans-serif;
  --primairy-color: honeydew;
}
body {
  font-family: var(--font-family);
  
  padding: 20px 30px 0px 30px;
}
.content-title-card {
  background-image: url("/images/maasai-print-pic.jpeg");
  color: var(--primairy-color);
  text-align: center;
  padding: 100px 30px 80px 30px;
}

.content-title-card h3 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  opacity: 0.9;
}
.content-title-card h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
  opacity: 0.95;
}
.content-title-card h2 {
  font-weight: normal;
  font-size: 24px;
  opacity: 0.9;
}

.content-title-card a {
  color: honeydew;
  border-color: honeydew;
  font-size: 18px;
  padding: 15px;
  line-height: 27px;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}
.btn-branding-outline {
  color: blue;

  border-color: blue;

  font-size: 18px;
  padding: 15px;
  line-height: 27px;
}
.project-description {
  padding: 20px 20px;
}

@media (max-width: 990px) {
  body {
    padding-top: 30px;
  }
  .project-description {
    padding: 5px 30px;
    text-align: center;
  }
  .content-title-card {
    padding: 40px 0px;
  }
  .content-title-card h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 420px) {
  body {
    padding: 20px;
  }
  .bio {
    margin-top: none !important;
  }
  .bio-text {
    text-align: center;
    padding: 0px 10px 10px 10px !important;
    margin-top: none !important;
  }
  .bio-text h1 {
    font-size: 50px !important;
  }
  .bio-text h2 {
    font-size: 20px !important;
  }
  .bio-text p {
    font-size: 14px !important;
  }
  .contact {
    max-width: 75% !important;
  }
}

.bio {
  background-image: url("/images/maasai-print-pic.jpeg");
  margin-top: 20px;
}
.bio-text {
  background-color: rgba(240, 255, 240, 0.8);
  padding: 40px 20px 40px 40px;
}

.headshot {
  margin: 60px 30px 60px 0px;
  padding: 50px;
}
.bio-text h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
  opacity: 0.95;
}
.bio-text h2 {
  font-size: 30px;
  line-height: 1.2;
}
.bio-text p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}

.contact {
  margin-top: 70px;
  margin-bottom: 60px;
  padding: 30px;
  max-width: 60%;
  background-color: rgba(238, 33, 22, 0.05);
}
.contact h2 {
  font-size: 30px;
}

.background-image{
     background-image: url("/images/maasai-print-pic.jpeg");
     margin-top:20px;
}



.link-title {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  
}

.link-title:hover {
  text-decoration: underline;
}
.project-pic {
  max-width: 60%;
  margin-top: 30px;
  
  
}
.project-pic img {
  margin: 40px 0px 20px 0px;
  border: solid 10px white;

 
}
.contact a{
    color: blue;
}
.social-icon a{
    color: rgba(238, 33, 22);
    font-size: 18px;

}